html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(245, 245, 245);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  margin-bottom: 1em;
}

.nav {
  align-content: center;
}

.nav-link {
  border-radius: 0px !important;
  transition: all 0.5s;
  width: 100px;
  display: flex;
  flex-direction: column;
}

.back-link {
  border-radius: 0px !important;
  transition: all 0.5s;
  width: 2em;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.nav-link:hover {
  background-color: #ffffff40 !important;
}

.nav-link .svg-inline--fa {
  transition: all 1s;
  font-size: 20px;
}

.my-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30em;
  width: 70%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  /* display: flex;
  align-items: start;
  justify-content: start; */
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.nav-link:hover .fa {
  transform: rotate(360deg);
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn {
  margin-bottom: 10px;
}

.card-bd {
  padding: 0.25em;
}
.masonry-brick {
  padding: 0.25em;
}

.card:hover {
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 31.8px 23.4px rgba(0, 0, 0, 0.086),
    0 5px 3.5px rgba(0, 0, 0, 0.12);
}
